# To install:
#
# Make changes as indicated below to fit your system.
# Also make changes to ../bin/fisb-msg-archive_service.
#
# sudo cp fisb-msg-archive.service /etc/systemd/system
# sudo systemctl enable --now fisb-msg-archive.service
# sudo systemctl status fisb-msg-archive.service
#
# You can use 'systemctl stop' and 'systemctl start'.
# To disable use 'systemctl disable'
# The service will be started now, as well as on any reboot.

[Unit]
Description=Collect raw fis-b data

[Service]
Type=simple

# !CHANGE!
User=mbarnes

# !CHANGE!
ExecStart=/bin/bash /home/mbarnes/fisb-decode/bin/fisb-msg-archive_service

[Install]
WantedBy=multi-user.target
