*~
.vscode
.nfs*
*.978
*.pyx
__pycache__
db-harvest
tg/results/tg??
tg/tg-source/imported/TG??
db/location/ov.txt
docs/source/_build/
docs/build/
runtime/web-images/*.png
runtime/images/*.png
runtime/images/.nfs*
runtime/images/*.png.aux.xml
runtime/harvest/*.msg
runtime/misc/PIREPS-UNMATCHED.txt
runtime/misc/sync.fisb
bin/decode-net-to-dir_service
bin/harvest_service
bin/fisb-msg-archive_service
bin/WMM.COF
misc/decode-net-to-dir.service
misc/harvest.service
misc/fisb-msg-archive.service
*.ERR
foo
foo0
foo1
foo2
foo3
