*~
.vscode
.nfs*
*.978
*.pyx
__pycache__
db-harvest
tg/results/tg??
tg/tg-source/imported/TG??
db/location/ov.txt
docs/source/_build/
docs/build/
runtime/images/*.tif
runtime/images/.nfs*
runtime/images/*.tif.aux.xml
runtime/harvest/*.msg
runtime/misc/PIREPS-UNMATCHED.txt
runtime/misc/sync.fisb
*.ERR
foo
foo0
foo1
foo2
foo3
